@keyframes skeleton-shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.skeleton-shine {
  animation: skeleton-shine 1.5s infinite;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background: rgba(0, 0, 0, 0.5);
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  transform: translateY(-50%);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper-button-next {
  right: 20px !important;
}

.swiper-button-prev {
  left: 20px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.8);
}
