@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@theme {
  --font-inter: Inter;
  --breakpoint-xs: 480px;
  --background-image-hero-pattern: url("/hero-bg.png");
}

.dark {
  --primary: #000000;
  --secondary: #ffffff;
  --card: #181818;

  --text-primary: #ffffff;
  --text-secondary: #737373;

  --button-primary: #ffffff;
  --button-secondary: #181818;

  --movie-cardbtn-primary: #ffffff;
  --movie-card-secondary: #292929b9;

  --season-active: #ffffff;
  --season-inactive: #333333;

  --watch-tv-sidebar-fg: #181818;

  --maintab-border: #111111;
}

.sunset {
  --primary: #2a004e; /* Main background or primary color */
  --secondary: #500073; /* Secondary background or accent */
  --card: #500073; /* Card backgrounds */
  --text-primary: #f14a00; /* Main text color (bright orange for contrast) */
  --text-secondary: #c62300; /* Secondary text (red-orange) */

  --button-primary: #f14a00; /* Primary button (bright orange) */
  --button-secondary: #2a004e; /* Secondary button (deep purple) */

  --movie-cardbtn-primary: #f14a00;
  --movie-card-secondary: #c62300;

  --season-active: #f14a00;
  --season-inactive: #c62300;

  --watch-tv-sidebar-fg: #500073;

  --maintab-border: #2a004e;
}

.freshlight {
  --primary: #ffffff; /* Main background: white */
  --secondary: #0f93ff; /* Secondary background/accent */
  --card: #cbf1f5; /* Card backgrounds */
  --text-primary: #3793b7; /* Main text color: deeper sky blue for contrast */
  --text-secondary: #71c9ce; /* Secondary text: lighter sky blue */

  --button-primary: #0f93ff; /* Primary button: deeper sky blue */
  --button-secondary: #ffffff; /* Secondary button: very light blue */

  --movie-cardbtn-primary: #3793b7;
  --movie-card-secondary: #71c9ce;

  --season-active: #3793b7;
  --season-inactive: #71c9ce;

  --watch-tv-sidebar-fg: #408ad955;
  --maintab-border: #e3fdfd;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background: var(--primary);
  }

  main {
    @apply min-h-screen relative bg-[var(--primary)];
  }

  header {
    @apply sm:mt-10 mt-5;
  }

  header img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  }
}

@layer components {
  .all-movies {
    @apply space-y-2;

    & ul {
      @apply grid grid-cols-1 gap-3 gap-y-20 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-5;
    }
  }

  .movie-card {
    img {
      @apply rounded-lg h-auto w-full object-cover transition duration-300 group-hover:brightness-40;
    }

    & h3 {
      @apply text-white font-bold text-base line-clamp-1;
    }

    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply size-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-white;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang {
      @apply capitalize text-gray-100 font-medium text-base;
    }

    & .content .year {
      @apply text-gray-100 font-medium text-base;
    }
  }
}

@utility text-gradient {
  @apply font-bold bg-gradient-to-r from-white to-[#3c3c3c] bg-clip-text text-transparent;
}

@utility gray-gradient {
  @apply font-bold bg-gradient-to-b from-[#D9D9D9] to-[#737373] bg-clip-text text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  font-size: 190px;
  font-family: "Bebas Neue", sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

span h1 {
  font-size: 16px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
  font-size: 20px !important;
  font-weight: bold;
}
